@media (max-width: 1370px) {
    .giftset__slider-nav {
        position: absolute;
        left: 1080px;
        top: 166px;
    }
}

@media (max-width: 1300px) {
    .giftset__slider-nav {
        left: 1045px;
    }
}

@media (max-width: 1280px) {
    .favorite__slider-images {
        img {
            width: 170px;
        }
    }
    .favorite__slider-box {
        padding: 15px 20px 10px 30px;
        width: 290px;
        height: 184px;
    }
    .favorite__slider-boxes {
        width: 475px;
        height: 180px;
    }
    .slider-arrows__right {
        top: 165px;
    }

    .giftset__slider {
        margin-bottom: 200px;
    }
    .giftset__slider-nav {
        width: 742px;
        left: 50%;
        transform: translateX(-50%);
         top: 678px;
    }

    .slider__nav-number {
        height: 80px;
        max-width: 180px;
    }

    .slider__nav-number-text {
        line-height: 80px;
    }

    .favorite__slider-box--price {
        font-size: 16px;
    }

    .favorite__slider-box--title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .combo {
        .favorite__slider-images {
            img {
                width: 260px;
            }
        }
        .favorite__slider-box {
            padding: 15px 20px 10px 30px;
            width: 260px;
            height: 184px;
        }
        .combo__slider-box {
            width: 300px;
            height: 260px;
            padding: 16px;
        }
        .favorite__slider-boxes {
            width: 300px;
            height: 465px;
        }
        .combo__slider-box {
            width: 260px;
            height: 250px;
            padding: 16px;
        }
        .slider-arrows__right {
            top: 185px;
        }
    }

    .favorite__slider-inner--box {
        padding-left: 15px;
    }
    .combo__bg-right {
        height: 840px;
    }
}

@media (max-width: 1100px) {
    .header__logo-inner {
        padding: 40px 50px 0 40px;
    }
    .header__top-title {
        left: 28px;
        font-size: 43px;
        line-height: 55px
    }
    .favorite__bg-left {
        width: 345px;
    }
    .favorite__slider-boxes {
        width: 430px;
        height: 180px;
    }
    .favorite__slider-images img {
        width: 150px;
    }
    .favorite__slider-box {
        padding: 10px 10px 10px 10px;
        width: 290px;
        height: 163px;
    }
    .combo__bg-right {
        width: 345px;
    }
    .slider-arrows__right {
        top: 153px;
        right: 45px;
    }
    .combo {
        .slider-arrows__right {
            right: 70px;
        }
        .favorite__slider-boxes {
            width: 270px;
        }
    }
    .giftset__slider {
        margin-bottom: 180px;
    }
}

@media (max-width: 1030px) {
    .favorite__bg-left {
        width: 270px;
    }
    .combo__bg-right {
        width: 270px;
    }
    .favorite__slider-boxes {
        width: 400px;
    }
}