@media (max-width: 1370px) {
    .giftset__slider-nav {
        position: absolute;
        left: 1080px;
        top: 166px;
    }
}

@media (max-width: 1300px) {
    .giftset__slider-nav {
        left: 1045px;
    }
}

@media (max-width: 1280px) {
    .favorite__slider-images {
        img {
            width: 170px;
        }
    }
    .favorite__slider-box {
        padding: 15px 20px 10px 30px;
        width: 290px;
        height: 184px;
    }
    .favorite__slider-boxes {
        width: 475px;
        height: 180px;
    }
    .slider-arrows__right {
        top: 165px;
    }

    .giftset__slider {
        margin-bottom: 200px;
    }
    .giftset__slider-nav {
        width: 742px;
        left: 50%;
        transform: translateX(-50%);
         top: 678px;
    }

    .slider__nav-number {
        height: 80px;
        max-width: 180px;
    }

    .slider__nav-number-text {
        line-height: 80px;
    }

    .favorite__slider-box--price {
        font-size: 16px;
    }

    .favorite__slider-box--title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .combo {
        .favorite__slider-images {
            img {
                width: 260px;
            }
        }
        .favorite__slider-box {
            padding: 15px 20px 10px 30px;
            width: 260px;
            height: 184px;
        }
        .combo__slider-box {
            width: 300px;
            height: 260px;
            padding: 16px;
        }
        .favorite__slider-boxes {
            width: 300px;
            height: 465px;
        }
        .combo__slider-box {
            width: 260px;
            height: 250px;
            padding: 16px;
        }
        .slider-arrows__right {
            top: 185px;
        }
    }

    .favorite__slider-inner--box {
        padding-left: 15px;
    }
    .combo__bg-right {
        height: 840px;
    }
}

@media (max-width: 1100px) {
    .header__logo-inner {
        padding: 40px 50px 0 40px;
    }
    .header__top-title {
        left: -182px;
        top: 435px;
        font-size: 43px;
        line-height: 55px
    }
    .favorite__bg-left {
        width: 345px;
    }
    .favorite__slider-boxes {
        width: 430px;
        height: 180px;
    }
    .favorite__slider-images img {
        width: 150px;
    }
    .favorite__slider-box {
        padding: 10px 10px 10px 10px;
        width: 290px;
        height: 163px;
    }
    .combo__bg-right {
        width: 345px;
    }
    .slider-arrows__right {
        top: 153px;
        right: 45px;
    }
    .combo {
        .slider-arrows__right {
            right: 35px;
        }
        .favorite__slider-boxes {
            width: 270px;
        }
    }
    .giftset__slider {
        margin-bottom: 180px;
    }
    .header__top-bg {
        height: 720px;
    }
    .header__menu {
        height: 720px;
    }
}

@media (max-width: 1030px) {
    .favorite__bg-left {
        width: 270px;
    }
    .combo__bg-right {
        width: 270px;
    }
    .favorite__slider-boxes {
        width: 400px;
    }
}

@media (max-width: 960px) {
    .favorite__notvisible {
        display: none;
    }
    .build__inner-box {
        width: 305px;
        margin-bottom: 20px;
    }
}

@media (max-width: 860px) {
    .combo__bg-right {
        width: 170px;
    }
    .giftset__slider-inner--wraper {
        max-width: 800px;
        padding-left: 195px;
    }
}

@media (max-width: 750px) {
    .combo .combo__slider-box {
        width: 370px;
        height: 250px;
        padding: 16px;
        margin: 0 auto;
    }
    .combo .favorite__slider-images img {
        width: 370px;
        margin: 0 auto;
    }
    .slider__nav-number {
        height: 60px;
        max-width: 150px;
    }
    .slider__nav-number-text {
        line-height: 60px;
    }
    .giftset__slider-nav {
        padding: 0 50px;
    }
    .giftset__slider-wraper {
        max-width: 615px;
    }
    .giftset__slider-inner--wraper {
        max-width: 615px;
    }
    .giftset__slider-price {
        font-size: 18px;
        line-height: 22px;
        padding-top: 45px;
        margin-bottom: 10px;
    }
    .giftset__slider-text {
        margin-bottom: 20px;
    }
    .giftset__images-slid {
        width: 90%;
    }
    .giftset__slider-title {
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    body {
        font-size: 14px;
        line-height: 20px;
    }
    .header__menu {
        min-width: 205px;
    }
}

@media (max-width: 660px) {
    .combo__bg-right {
        display: none;
    }
    .build__inner-box {
        width: 300px;
        margin: 0 auto 20px;
    }
    .header__menu {
        display: none;
        padding-top: 90px;
    }
    .menu__btn {
        width: 40px;
        position: absolute;
        right: 25px;
        top: 25px;
        cursor: pointer;
        padding-right: 5px;
        span {
            display: block;
            height: 3px;
            margin-bottom: 10px;
            background-color:#E8C300;
        }
    }
    .menu__tilte {
        padding-top: 25px;
    }
    .header__menu-shop {
        padding-top: 40px;
    }
    .header__top {
        width: 70%;
    }
    .giftset__images-slid {
        width: 85%;
    }
    .giftset__slider-inner--wraper {
        padding-left: 140px;
        padding-right: 35px;
    }
    .giftset__slider-wraper {
        max-width: 520px;
    }
    .giftset__slider-inner--wraper {
        max-width: 520px;
    }
    .slider__nav-number {
        height: 50px;
        max-width: 100px;
    }
    .slider__nav-number-text {
        line-height: 50px;
    }
    .giftset__slider-nav {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .combo__slider-boxes {
        padding-left: 20px;
    }
    .combo .combo__slider-box {
        width: 270px;
        height: 250px;
        padding: 16px;
        margin: 0 auto;
    }
    .combo .favorite__slider-images img {
        width: 270px;
        margin: 0 auto;
    } 
}

@media (max-width: 530px) {
    .title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 50px;
    }
    .subtitle {
        font-size: 18px;
        line-height: 20px;
    }
    .giftset__slider-title {
        font-size:16px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    body {
        font-size: 12px;
        line-height: 18px;
    }
    .giftset__slider-inner--wraper {
        padding-left: 105px;
        padding-right: 10px;
    }
    .giftset__images-slid {
        width: 80%;
    }
    .giftset__slider-about {
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) {
    .header__top-title {
        left: -150px;
        font-size: 35px;
        line-height: 45px;
    }
    .header__logo-inner {
        padding: 90px 20px 0 20px;
    }
    .giftset__slider-inner--wraper {
        padding-left: 73px;
        padding-right: 12px;
    }
    .giftset__images-slid {
        width: 73%;
    }
    .build__inner {
        margin: 0 auto 75px;
    }
    .giftset__subtitle {
        padding-top: 55px;
    }
    .giftset__title {
        padding-top: 75px;
    }
    .slider__nav-number {
        height: 45px;
        max-width: 80px;
    }
    .slider__nav-number-text {
        line-height: 45px;
    }
    .giftset__slider-nav {
        width: 400px;
    }
}


@media (max-width: 400px) {
    .combo__slider-boxes {
        padding-left: 20px;
    }
    .combo .slider-arrows__right {
        right: 5px;
    }
    .header__top-title {
        font-size: 28px;
        line-height: 38px
    }
    .header__menu-inner {
        padding-left: 20px;
    }
    .menu__tilte {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .menu__list-item {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    .subtitle {
        font-size: 16px;
        line-height: 18px;
    }
    .giftset__slider-about {
        display: block;
    }
    .btn-text {
        display: none;
    }
    .giftset__about-box--1 {
        margin-bottom: 15px;
    }
}


@media (max-width: 400px) {
    .slider__nav-number {
        
        max-width: 50px;
    }   
}

@media (min-width: 660px) {
    .header__menu {
        display: block !important;
    }
}