@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header__inner {
    display: flex;
    margin-bottom: 85px;
}

.header__logo-inner {
    padding: 75px 140px 0 155px;
}

.header__top {
    width: 53%;
}

.header__top-bg {
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header__top-title {
    position: absolute;
    top: 508px;
    left: 160px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    max-width: 470px;
    color: #415167;
}

.header__top-color {
    background: #C7A17A;
    color: #fff;
    padding: 0 15px 0 15px;
}

.header__menu {
    background-color: #415167;
    min-width: 270px;
    height: 768px;
}

.header__menu-inner {
    max-width: 196px;
    padding-left: 56px;
}

.header__menu-shop {
    padding-top: 86px;
    position: relative; 
}

.header__menu-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #C7A17A;
    color: #fff;
    text-align: center;
    line-height: 20px;
    top: 75px;
    right: 110px;
    display: none;
}

.visible {
    display: block;
}

.menu__tilte {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #EDF0F5;
    margin-bottom: 30px;
    padding-top: 120px;
}

.menu__list {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.menu__list-item {
    margin-bottom: 25px;
}

.build__inner {
    max-width: 1125px;
    padding: 0 10px;
    margin: 0 auto 125px;
}

.build__inner-title {
    margin-bottom: 73px;
}

.build__inner-boxes {
    display: flex;
    justify-content: space-between;
}

.build__inner-box {
    width: 226px;
    text-align: center;
}

.build__inner-box--title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;    
}

.favorite {
    margin-bottom: 89px;
}

.favorite__bg-left {
    width: 384px;
    height: 894px;
    background-color: #415167;
    position: absolute;
}

.favorite__inner-subtitle {
    padding-top: 90px;
}

.favorite__inner-title {
    margin-bottom: 73px;
}


.favorite__slider {
    margin-left: 120px;
}

.favorite__slider-boxes {
    display: flex;
    width: 550px;
    height: 256px;
    margin-bottom: 32px;
}

.favorite__slider-box {
    padding: 42px 50px 42px 45px;
    background-color: #fff;
    width: 100%; 
}

.favorite__slider-inner--box {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding-left: 30px;
}

.slider-arrows__right {
    position: absolute;
    right: 70px;
    top: 238px;
    cursor: pointer;
}

.favorite__slider-box--price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C7A17A;
    margin-bottom: 8px;
}

.favorite__slider-box--title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}

.favorite__slider-box--text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 18px;
}

.btn__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 134px;
    height: 32px;
    background-color: #C7A17A;
    border-radius: 19px;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    font-size: 16px;
    color: #F9FBFF;
}

.btn__inner {
    span {
       font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #415167; 
    }
}

.favorite__slider-inner {
    .slick-list {
        padding:0 10% 0 0;
    }
}

.giftset {
    position: relative;
}

.giftset__bg-left {
    width: 1076px;
    height: 802px;
    background: #EDF0F5;
    position: absolute;  
}

.giftset__subtitle {
    position: absolute;
    padding-top: 86px;
    right: 50%;
    transform: translateX(50%);
}

.giftset__title {
    position: absolute;    
    padding-top: 116px;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 68px;
}

.giftset__slider-wraper {
    display: flex;
    justify-content: center;
}

.giftset__slider { 
    padding: 216px 0 0 386px; 
    margin-bottom: 126px; 
}

.giftset__slider-inner {
    display: flex;
    max-width: 794px;
    height: 460px;
    background-color: #fff;
    position: relative;
}

.giftset__images {
    position: absolute;
    top: 50px;
    left: -265px;
}

.giftset__slider-inner--wraper {
    padding-left: 300px;
    padding-right: 66px;
}

.giftset__slider-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C7A17A;
    padding-top: 64px;
    margin-bottom: 12px;
}

.giftset__slider-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    margin-bottom: 12px;
}

.giftset__slider-text {
    margin-bottom: 24px;
}

.giftset__slider-about {
    display: flex;
    justify-content: space-between;
}

.giftset__about-box--1 {
    padding-left: 52px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/coffee.svg);
        width: 40px;
        height: 43px;
        left: 0;
    }
}

.giftset__about-box--2 {
    padding-left: 52px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/mountain.svg);
        width: 40px;
        height: 43px;
        left: 0;
    }
}

.giftset__btn-text {
    padding-right: 60px;
}

.giftset__about-text--span {
    font-weight: 600;
}

.giftset__slider-about {
    margin-bottom: 46px;
}    

.giftset__slider-nav {
    position: absolute;
    left: 970px;
    top: 165px;
    text-align: center;
}

.slider__nav-number {
    height: 152px;
    max-width: 88px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
    background-color: #fff;
    border: 1px solid grey; 
}

.slider__nav-number-text {
    padding: 63px 0 57px 0;
}





@import "media";